@model LiteApp.ViewModels.AppViewModel
@foreach (var row in Model.CurrentPage.Rows)
{
    <div class="@row.ClassName">

        @foreach (var col in row.Cols)
                {
            <div class="@col.ClassName">

                @foreach (var module in col.Modules)
                {
                    @Html.Partial("_Module",
                   new LiteApp.ViewModels.ModuleViewModel
                   {
                       App = Model.App,
                       CurrentPage = Model.CurrentPage,
                       CurrentModule = module
                   })
                }
            </div>
        }
    </div>
}

@section styles{
    <!--Page Styles-->
@foreach (var style in Model.CurrentPage.Styles)
{
    <link rel="stylesheet" href="@style.Path" />
}
}

@section scriptsTop {
    <!--Page Scripts-->
@foreach (var script in Model.CurrentPage.ScriptsTop)
{
    <script src="@script.Path"></script>
}
}

@section scriptsBottom {
    <!--Page Scripts-->
@foreach (var script in Model.CurrentPage.ScriptsBottom)
{
    <script src="@script.Path"></script>
}

}
