@model LiteApp.ViewModels.AppViewModel

@{ 
    var isAdmin = User.IsInRole("admin");
}

@foreach (var row in Model.CurrentPage.Rows)
{
    <div class="@row.ClassName">

        @foreach (var col in row.Cols)
        {
            <div class="@col.ClassName" style="position: relative;">
                @foreach (var module in col.Modules)
                {
                   @Html.Partial("_Module",
                   new LiteApp.ViewModels.ModuleViewModel
                   {
                       App = Model.App,
                       CurrentPage = Model.CurrentPage,
                       CurrentModule = module
                   })
                }
            @if (isAdmin)
            {
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Html</a></li>
                        <li><a href="#">Contact</a></li>
                     </ul>
                </div>
                @*<div id="column-navbar" style="position: absolute; top: 0; left: 0;">
                    <button onclick="addModule('')" class="btn btn-success btn-sm">+</button>
                </div>*@
            }
            </div>
            
        }
    </div>
}

@{
    var modules = Model.CurrentPage.Rows
        .SelectMany(r => r.Cols.SelectMany(c => c.Modules));

    var styles = modules.
        SelectMany(m => m.Styles)
        .GroupBy(s => s.Path.ToLower())
        .Select(g => g.First())
        .ToList();

    var scriptsTop = modules
        .SelectMany(m => m.Scripts)
        .GroupBy(s => s.Path.ToLower())
        .Select(g => g.First())
        .ToList();
}

@section styles{
    <!--Module Styles-->
    @foreach (var style in styles)
    {
        <link rel="stylesheet" href="@style.Path" />
    }
}

@section scriptsTop {
    <!--Module Scripts-->
    @foreach (var script in scriptsTop)
    {
        <script src="@script.Path"></script>
    }
}
