@{ 
    var layoutViewModel = (LiteApp.ViewModels.LayoutViewModel)ViewBag.LayoutViewModel;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@layoutViewModel.PageTitle</title>
    
    <!--App Styles-->
    @foreach (var style in layoutViewModel.AppViewModel.App.Styles)
    {
        <link rel="stylesheet" href="@style.Path" />
    }
    @RenderSection("styles", required: false)
    
    <!--App Scripts-->
    @foreach (var script in layoutViewModel.AppViewModel.App.ScriptsTop)
    {
        <script src="@script.Path"></script>
    }
    @RenderSection("scriptsTop", required: false)

</head>
<body>

    @Html.Partial("_Menu", layoutViewModel.AppViewModel)

    @if (layoutViewModel.ShowHeader)
    {
        @Html.Raw(layoutViewModel.AppViewModel.App.HeaderHtml)
    }

    <div class="@(layoutViewModel.FullRow ? "" : "container")" role="main">
    <!--Start Body-->
        @RenderBody()
    <!--End Body-->

        @if (!string.IsNullOrWhiteSpace(layoutViewModel.AppViewModel.App.FooterHtml))
        {
            <footer>
                @Html.Raw(layoutViewModel.AppViewModel.App.FooterHtml)
            </footer>
        }

    </div>
    <!--App Scripts-->
    @foreach (var script in layoutViewModel.AppViewModel.App.ScriptsBottom)
    {
        <script src="@script.Path"></script>
    }
    @RenderSection("scriptsBottom", required: false)

</body>
</html>
